body{
	background-color: #333;
}

h1{
	color: #fff;
	font-family: 'Liberation Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: -3px;
}

h2{
	margin: 0;
	padding: 0;
	display: block;
	font-family: 'Liberation Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #ab4b4b;
}

h3{
	margin: 0;
	padding: 0;
	display: block;
	font-family: 'Liberation Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #fff;
	font-size: 20px;
}

h1 span{
	color: #ab4b4b;
}

p{
	margin: 0;
	padding: 0;
}

.endBoard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	border: 1px solid #fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	display: none;
}

.show{
	display: flex;
}

.outScore{
	font-family: 'Liberation Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #fff;
	font-size: 150px;

}

.playAgain{
	margin-top: 40px;
	margin-bottom: 50px;
	width: 30%;
	height: 40px;
	background: #ab4b4b;
	border-radius: 20px;
	display: 
}

.playAgain h3{
	margin-top: 8px;
}

